* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303947;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9472d5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9472d5;
}

.headerBackground {
  background: url("../../../public/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
.headerBackgroundPromoFirst {
  width: 100%;
  height: 100%;
  background: url("../../../public/promo2.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 10% 190%;
}
.headerBackgroundPromoSecond {
  width: 100%;
  height: 100%;
  background: url("../../../public/promo1.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% -40%;
}
.fullscreenContainer {
  background: #0a0a0a;
  min-height: 100vh; /** remove this **/
}
.themeFeatures {
  background: url("../../../public/phone1.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: -350% 0;
  width: 100%;
  height: 100%;
}
.darkGradientShade {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0a0a0ad3, #0a0a0a00);
}
.darkGradientShadeSecond {
  width: 100%;
  height: 100%;
  background: linear-gradient(20deg, #0a0a0a, #0a0a0a00, #0a0a0a00);
}
h1 {
  color: #fff;
  font-family: Unbounded Variable;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h2 {
  color: #fff;
  font-family: Unbounded Variable;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
purple {
  color: #9472d5;
}
.textContainer {
  max-width: max-content;
}
button {
  min-width: 12rem;
  border-radius: 0.25rem;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem 1rem 2rem;
  background: #9472d5;
}
button * {
  color: #fff;
  font-family: Unbounded Variable;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.mobileWordWrap {
  display: none;
}
.footerPromoFirst {
  background-image: url("../../../public/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  min-height: 100vh;
}
.footerPromoSecond {
  background-image: url("../../../public/background2.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 0% 100%;
  width: 100%;
  min-height: 100vh;
}
@media screen and (max-width: 900px) {
  .themeFeatures {
    background-position: 130% 35%;
    background-size: 160%;
  }
  h1 {
    color: #fff;
    font-family: Unbounded Variable;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h2 {
    color: #fff;
    font-family: Unbounded Variable;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }
  .mobileWordWrap {
    display: block;
  }
  .headerBackgroundPromoFirst,
  .headerBackgroundPromoSecond {
    background: none;
  }
}
